.cal-contain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 50px auto;
  height: 72vh;
}

.cal-head {
  margin-bottom: 15%;
}

.calculator {
  width: 50%;
}

.display {
  background-color: grey;
  padding: 10px;
}

.input-display {
  width: 100%;
  border: none;
  background-color: grey;
  color: #fff;
  font-size: 24px;
  text-align: right;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.key {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #ccc;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.key-light-grey {
  background-color: #e0e0e0;
  color: #000;
}

.key-red {
  background-color: rgba(230, 64, 4, 0.856);
  color: #fff;
}

.key-0 {
  grid-column: span 2;
}

@media (max-width: 768px) {
  .cal-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -5% auto;
  }

  .calculator {
    width: 80%;
  }
}
